*{
    margin: 0;
    border-collapse: collapse;
}

nav > ul{
    list-style: none;
    display: flex;
    background-color: #F8D4F6;
    font-size: 20px;
}

body{
    background-color: #BFF0D4;
}

nav > ul > li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 30px;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

#userTable {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
.user-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: auto;
}

#name{
    color: #F8D4F6;
}

.user-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.user-card p strong {
    font-weight: bold;
}

.user-card .label {
    color: #555;
    font-weight: bold;
}
